.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px;
}

table {
    
    font-family: 'Open Sans', sans-serif;
    
}
thead {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid; 
    font-size: 0.9em;
}
td {
        vertical-align: middle;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        border: 2px solid #56433D;
       

}
.html_tree{
    
    margin: 0;
}



.font{
    font-weight: bold;
}

li{
    position: relative;
    font-weight: normal;
    
}

li.menu{
    list-style-type: none;
}

.btn{
    width: 100px;
    height: 30px;
    margin: 0;
    
}

.caret {
    position: absolute;
    left: -20px;
    width: 20px;
    height: 100%;
    top:0px;
}
.caret:after {
    content: "▶";
    width: 0;
    height: 0;
    position: absolute;
    
    left:0;
    top: 0px;
}

.--expanded > .caret:after {
    content: '▼ ';
}

.menu > ul {
    display: none;
}

.menu.--expanded > ul {
    display: block;
}

  
